.navbar{
    background-color: #5C524D;
}

.navbar-nav li:hover {
    border-bottom: 2px solid #FFFFFF;
  }
.navbar-nav a{
    font-weight: 600;
    font-size: 15px;
    margin-left:9px;
}
.logo{
    margin-left: 128px;
}
.logout{
    margin-right:102px;
}
.card1{
  width: 325px;
  height: 342px;
  margin-left:20px;
}


.search-box{
    width: 100%;
    display: flex;
    height: 68px;
    padding-top: 16px;
    margin-top: -24px;
  
  }
  .search-input{
    width: 474px;
    height: 31px;
    margin-left: 147px;
    padding: 10px;
    border: 1px solid #D5D5D5;
    border-right: none;
    outline: none;
    font-size: 15px;
    color: tomato;
    background: #FFFFFF;
  }
  .search-button{
    text-align: center;
    width: 40px;
    height: 31px;
    outline: none;
    cursor: pointer;
    border: 1px solid #D5D5D5;
    border-left: none;
    background: #FFFFFF;
    font-size: 15px;
  
  
  }

  .fa-calendar-check-o { 
    font-weight: bold;
    color: #FC732F;
  }
  .fa-search{
    color:#FC732F;

  }
  .ticket{
    color:#FC732F;
    font-size:15px;
  }
  .card-text{
    font-family:Almarai;
  }
  .btn-default {
    color: #FC732F!important;;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 700;
    border: 2px solid #FC732F!important;;
    background: transparent;
    transition: all 0.3s ease 0s;
  }
  
  .btn-default:hover {
    color: #FFF!important;;
    background: #FC732F;
    border: 2px solid #FC732F;
  }
  .btn-secondary
  {
    line-height: 30px;
  }
  .horizontal-cards{
    display:none;
  }  
  .vertical-cards{
    display:block;
  }
  .mob-card{
    display:none;
  }
  .img-square-wrapper img{
    width:111px;
    height:111px;
    margin-left:20px;
    margin-top:20px;
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
@media only screen and (max-width: 1024px) {
  
      .horizontal-cards{
        display:block;
      }  
      .vertical-cards{
        display:none;
      }
      .mob-card{
        display:none;
      }
  .search-input{
    width:708px;
  }
}
     
@media only screen and (max-width: 768px) {
  
  .horizontal-cards{
    display:none;
  }  
  .vertical-cards{
    display:none;
  }
  .mob-card{
    display:block;
  }
  .search-input{
    margin-left:12px;
    width:341px;
  }
  .logo{
    margin-left: 0px;
}
}
